In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns 
import warnings
%matplotlib inline 

veri=pd.read_csv("Financial Sample.csv")
veri

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,United States of America,Paseo,Low,3450.0,$10.00,$350.00,"$1,207,500.00","$48,300.00","$1,159,200.00","$897,000.00","$262,200.00",7/1/2014,7,July,2014
1,Government,France,Amarilla,None,2750.0,$260.00,$350.00,"$962,500.00",$0.00,"$962,500.00","$715,000.00","$247,500.00",2/1/2014,2,February,2014
2,Government,Germany,Velo,Low,2966.0,$120.00,$350.00,"$1,038,100.00","$20,762.00","$1,017,338.00","$771,160.00","$246,178.00",10/1/2013,10,October,2013
3,Government,Germany,Amarilla,Low,2966.0,$260.00,$350.00,"$1,038,100.00","$20,762.00","$1,017,338.00","$771,160.00","$246,178.00",10/1/2013,10,October,2013
4,Government,Germany,Velo,Low,2877.0,$120.00,$350.00,"$1,006,950.00","$20,139.00","$986,811.00","$748,020.00","$238,791.00",10/1/2014,10,October,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Enterprise,United States of America,Velo,High,2438.0,$120.00,$125.00,"$304,750.00","$45,712.50","$259,037.50","$292,560.00","-$33,522.50",12/1/2013,12,December,2013
696,Enterprise,Mexico,Carretera,High,2821.0,$3.00,$125.00,"$352,625.00","$49,367.50","$303,257.50","$338,520.00","-$35,262.50",12/1/2013,12,December,2013
697,Enterprise,United States of America,Amarilla,High,2844.0,$260.00,$125.00,"$355,500.00","$49,770.00","$305,730.00","$341,280.00","-$35,550.00",5/1/2014,5,May,2014
698,Enterprise,Germany,Carretera,High,2767.0,$3.00,$125.00,"$345,875.00","$51,881.25","$293,993.75","$332,040.00","-$38,046.25",8/1/2014,8,August,2014
699,Enterprise,Canada,VTT,High,2954.0,$250.00,$125.00,"$369,250.00","$55,387.50","$313,862.50","$354,480.00","-$40,617.50",11/1/2013,11,November,2013

In [ ]:
sns.set(style="whitegrid")
sns.violinplot(x="Country",y="Year",data="veri",hue="Segment",palette="PRGn",split=True)